<% product = ENV['PRODUCT'] %>
<% content_for :title do %><%= product %> Dashboard<% end %>


<script type='text/javascript'>
    $(function () {
        Dashing.widget_base_dimensions = [370, 355];
        Dashing.numColumns = 5
    });
</script>

<div class="gridster">
  <ul>
    <!-- Project Name -->
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-view="ProjectName"></div>
    </li>

    <!-- Table Legend -->
    <li id="tableLegend"  data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="legend" data-view="Text" data-title="Legend"></div>
    </li>

    <!-- Clock  -->
    <li data-switcher-interval="5000" data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <!-- Table -->
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="2">
      <div data-id="data-table" data-view="Table" data-title="EO Staging Product Information"></div>
    </li>
  </ul>
</div>
